.baseURL {
  color: #777777;
}

.method {
  color: lab(47.8876% 63.025 42.31);
  font-weight: bold;
}

.path {
  font-weight: bold;
}

.placeHolder {
  color: #6f42c1;
}

.permission {
  font-weight: bold;
}

.bash {
  color: #22863a;
}

.bashCommand {
  color: #6f42c1;
}

.bashSlash {
  color: #414141;
}
